@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Libre+Baskerville&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width: 10em;
}
#logo_link {
    padding-top: 5px;
    padding-top: 5px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center; 
    color:#0A090C;
    text-decoration: none;
    padding: 35px;
    background-color: #D4AC0D;
}
nav a:hover {
    background-color:#FDFFFC;
}
body {
    background-color: #FDFFFC;
}
header {
    background-color:#D4AC0D;
    color:#0A090C;
    display: grid;
    grid-template-columns: 150px auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-img {
    width: 100%;
    margin-bottom: 20px;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-msg h1, #hero-msg h4 {   
    text-align: center;
}
#hero-msg h4 {
    color: #0A090C;
    font-size: 4em;
    background-color: #D4AC0D;
}
.home-title {
    color:#0A090C;
    font-family: 'GFS+Didot';
    font-size: 6em;
    margin-top: 10px;
    background-color: #D4AC0D;
}
.para-1 {
    text-align: center;
}
.para-2 {
    text-align: center;
}